body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: blue;
}

.card-header h2{
    color: white;
}

.cardHeader{
    background-color: rgb(156, 129, 219);
}

#navbar{
    background-color: rgb(156, 230, 233);
}

.siteFooter{
    background-color: rgb(71, 61, 73);
    padding: 20px 0;
}

#nucampHeader{
    padding: 30px;
    background-image: linear-gradient(to bottom, rgb(187, 145, 255),rgb(255, 210, 210));
    color: rgb(255, 255, 255);
    margin: 0px;
    font-size: 3em;
}

#siteTitle{
    font-size: 1.6em;
}

.row-content{
    padding-top: 40px;
    min-height: 200px;
}

.row-content .card-body{
    background-color: rgb(200, 231, 241);
}

.row .col{
    border: none;
}

.tab-content{
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 20, 17, 0.5)
}
.carousel-caption h3{
     font-size: 2.5em;
 }

.carouselHeader{
     color: rgb(255, 163, 179);
 }

.pinkLabel{
     background-color: rgb(255, 163, 179);
     color: white;
     border-radius: 5px; 
 }

#rowPadding{
     padding-bottom: 40px;
 }

.borderNone{
    border: none;
    background-color: rgb(221, 180, 255);
    padding-top: 10px;
 }

 .roundedEdge{
     border-radius: 10px;
 }

 .pageTitle{
     color: white;
    background-color: teal;
    padding: 0px;
    margin: 0px;
    border: none;
 }

 .noBorder{
     border: none;
 }

 .bgLight{
     background-color: lightblue;
 }

